@media screen and (max-width: 440px) {
    .myStoriesContainer{
        justify-content: flex-start !important;
    }
}

.myStoriesContainer::-webkit-scrollbar{
    height: 0;
}

@media screen and (max-width: 768px) {
    .myStoriesContainer{
        justify-content: flex-start !important;
    }
}

.playBtn{
    animation: zoomInOut 2s ease-in-out infinite;
  }
  
  @keyframes zoomInOut{
    0%{
      transform: scale(1);
    }
    50%{
      transform: scale(1.5);
    }
    100%{
      transform: scale(1);
    }
  }