.customSliderContainer {
  position: relative;
}
.navIcons {
  position: absolute;
  top: 10px;
  right: 18px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0.9rem;
}
.navIcons svg {
  width: 20px;
  height: 20px;
}
.mainContainer {
  height: auto;
  width: 100%;
  margin: 0 auto;
  max-width: 400px;
  background-color: #fff;
  overflow-x: hidden;
  position: relative;
}

.mainSlide {
  width: 266px;
  height: 16rem;
  max-height: 23rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 2rem;
  padding: 1rem;
  transition: transform 0.5s ease-in-out;
}

.swipeableComponent {
  width: 266px;
  height: auto;
  overflow-x: hidden;
  margin: 0 auto;
}

.mainSlideImg {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  flex-basis: auto;
}

.mainSlideImg img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.allSlidesContainer {
  width: 100%;
  height: 80px;
  position: relative;
}

.allSlides {
  width: 100%;
  height: 100px;
  margin: 0 auto;
  position: relative;
  overflow-x: hidden;
}

.allSlidesContainer svg {
  height: 1.5rem;
  width: 1.5rem;
  position: absolute;
  z-index: 2;
  top: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
}

.sliderContainer {
  max-width: 420px;
  width: 100%;
  height: 100px;
  padding-left: 1rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border: 0;
  position: absolute;
  overflow-x: auto;
}

.sliderContainer::-webkit-scrollbar {
  height: 0;
}

.slideContainer {
  flex-shrink: 0;
  flex-basis: auto;
  width: 125px;
  height: 51px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: transform 0.5s ease-in-out;
  border: 1px solid lightgrey;
  border-radius: 25px;
  font-size: 1.4rem;
  margin-right: 0.5rem;
}

.slideContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.active {
  border: 1px solid gray;
}

.activeSize {
  background: black !important;
  color: #fff !important;
}
.notActive{
  background: white !important;
  color: black !important;
}

.selectedtag {
  background-color: black;
  color: white;
}

.prodDesc {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  gap: 0.5rem;
  overflow-x: auto;
}
.prodInfo > a {
  text-decoration: none;
  color: #000;
}

.prodImages {
  width: 100%;
  height: 16rem;
  display: flex;
  align-items: center;
  gap: 1rem;
  overflow-x: auto;
  padding-left: 1rem;
}
.prodImages::-webkit-scrollbar {
  height: 0;
}
.prod-image {
  height: 15.5rem;
  width: 10.3rem;
}

.prodImage img {
  width: 10.3rem;
  height: 15.5rem;
  object-fit: cover;
}
.showMore {
  font-size: 0.9rem;
  text-decoration: none;
  color: #000;
  font-weight: 600;
}
.productDeatils {
  margin-top: 1rem;
  font-size: 0.9rem;
  padding: 0 1rem;
}
.sizeText{
  display: block;
}