@media screen and (max-width: 440px) {
    .myStoriesContainer{
        justify-content: flex-start !important;
    }
}

.myStoriesContainer::-webkit-scrollbar{
    height: 0;
}

@media screen and (max-width: 768px) {
    .myStoriesContainer{
        justify-content: flex-start !important;
    }
}