* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: inherit;
  -webkit-tap-highlight-color: transparent;
}

@keyframes i-amphtml-animate-in-sequence-pill {
  0% {
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    -webkit-clip-path: var(--clip-path-start-circle-supports-rtl);
    clip-path: var(--clip-path-start-circle-supports-rtl);
    transform: scale(0);
  }

  20% {
    -webkit-clip-path: var(--clip-path-start-circle-supports-rtl);
    clip-path: var(--clip-path-start-circle-supports-rtl);
  }

  40% {
    transform: scale(1);
  }

  60% {
    -webkit-clip-path: var(--clip-path-end-circle-supports-rtl);
    clip-path: var(--clip-path-end-circle-supports-rtl);
  }

  60.001% {
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    -webkit-clip-path: var(--clip-path-inset-offset-supports-rtl);
    clip-path: var(--clip-path-inset-offset-supports-rtl);
  }

  to {
    -webkit-clip-path: inset(0 0 0 0 round 30px);
    clip-path: inset(0 0 0 0 round 30px);
  }
}

@keyframes i-amphtml-animate-out-sequence-pill {
  0% {
    -webkit-clip-path: inset(0 0 0 0 round 30px);
    clip-path: inset(0 0 0 0 round 30px);
  }

  40% {
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    -webkit-clip-path: var(--clip-path-inset-offset-supports-rtl);
    clip-path: var(--clip-path-inset-offset-supports-rtl);
  }

  60% {
    transform: scale(1);
  }

  to {
    transform: scale(0);
    -webkit-clip-path: var(--clip-path-inset-offset-supports-rtl);
    clip-path: var(--clip-path-inset-offset-supports-rtl);
  }
}

/* i-amphtml-animate-in-sequence-dot-before 2s!important forwards  .i-amphtml-pulse-dot-before  2.5s!important 1.5s!important infinite!important */
@keyframes i-amphtml-animate-in-sequence-dot-before {
  0% {
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transform: scale(0);
  }

  60% {
    transform: scale(1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes i-amphtml-pulse-dot-before {
  0% {
    animation-timing-function: cubic-bezier(0.83, 0, 0.71, 0.99);
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  90% {
    transform: scale(1);
  }

  to {
    transform: scale(1);
  }
}

/*  */
@keyframes i-amphtml-animate-in-sequence-dot-after {
  0% {
    animation-timing-function: cubic-bezier(0.85, 0, 0.15, 1);
    transform: scale(0);
  }

  40% {
    transform: scale(1);
  }

  to {
    transform: scale(1);
  }
}

@keyframes i-amphtml-pulse-dot-after {
  0% {
    animation-timing-function: cubic-bezier(0.76, 0, 0.24, 1);
    transform: scale(1);
  }

  40% {
    transform: scale(0.8);
  }

  90% {
    transform: scale(1);
  }

  to {
    transform: scale(1);
  }
}
